h1 {
    text-align: right;
    color: #AD66D5
    
}
h2 {
    text-align: justify;
    width: 300px;
    color:blue
}
h3{

    color:red
}
p{
    width: 300px;
    text-align: justify;
    color:purple
}
th {
   text-align: left;
   
}
table {
    width: 500px
}

td {
    text-align: justify;
}



